body{
  background: rgb(246,247,251);
  background: linear-gradient(90deg, rgba(246,247,251,1) 0%, rgba(226,230,241,1) 35%, rgba(201,206,225,1) 75%, rgba(194,200,216,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.search-bar{
  border-color: #9782be;
  height: 50px;
}

.search-bar:focus{
  border-color: #9782be;
  box-shadow: none;
}

.small{
  color: #87816f;
}

ol li {
  text-align: start;
}

.recipe-item{
  background: rgb(241,241,241);
  background: linear-gradient(27deg, rgb(255 254 254) 0%, rgba(244, 244, 244, 1) 35%, rgb(255 255 255) 100%);
  box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.13);
  border-radius: 20px;
  padding: 40px;
  margin-bottom: 40px;
  display:flex;
  flex-direction: column;
  height: 100%;
}

.recipe-item-bottom img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 32px ;
  border-radius: 20px;
}

.recipe-item-bottom{
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-primary{
  background-color: #9782be;
  border-color: #9782be;
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.btn-primary:hover{
  background-color: transparent;
  border-color: #9782be;
  color: #9782be;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#9782be 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#9782be);
  mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: load 1s infinite linear;
}

@keyframes load {
  100% {
    transform: rotate(1turn);
  }
}
